.episode-detail {
  background-color: #fff;
  width: 650px;
  max-height: 700px;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  white-space: pre-wrap; /* will preserve whitespace and line breaks as they are,  */
}
.episode-detail-title {
  color: green;
}
audio {
  margin-top: 30px;
}
