.loading-indicator-container {
  display: flex;
  height: 100%;
}

.loading-indicator {
  border: 6px solid #f3f3f3;
  border-top: 4px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
