body {
  background-color: #f5f5f5;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}
.no-underline {
  text-decoration: none;
}
.inline-div {
  display: inline-block;
  margin-right: 3rem;
  text-decoration: none;
}
