.list-container {
  gap: 30px;
}

.podcasts-list {
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
  gap: 90px;
}

.list-header {
  position: relative;
}

.div-right {
  position: absolute;
  display: flex;
  left: 650px;
}

.list-counter {
  font-weight: bolder;
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 8px;
  margin-right: 20px;
  text-align: end;
  width: 27px;
}

.search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  font-size: large;
}
