body {
  background-color: #f5f5f5;
  max-width: 1200px;
  margin: 0 auto;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  display: flex;
  flex: 1;
}
.no-underline {
  text-decoration: none;
}
